.card {
  margin: 10px;
  width: 300px;
  background-color: #EEEEEE;
  color: #000000;
  border-radius: 10px;
  border: 5px black;
  transition: 0.5s;
}

.more-details-button {
  background-color: #4050B5;
  color: white;
  transition: all 0.3s ease;
}
